#boxofficeMain {
  display: flex;

  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sec,
.divDt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec {
  width: 100%;
  flex-direction: column;
}

.divDt {
  width: 80%;
  height: 60px;
  background-color: #709176;
  flex-direction: row;

  border: 1px dotted #49413f;
}

input[type="date"] {
  width: 40%;
  height: 30px;
}

.mvli {
  width: 150%;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px 2px;
}

span,
span:hover {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
}

span:hover {
  background-color: #49413f;
  transition: background-color 1s ease, color 1s ease;
  color: white;
}

.rank {
  width: 7%;
  margin: 10px;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #49413f;
  margin-right: 10px;
  color: white;
}
