#boxofficeMain {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}

.sec,
.divDt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec {
  width: 100%;
  flex-direction: column;
}

.divDt {
  width: 80%;
  height: 60px;
}

input[type="date"],
select,
fieldset {
  width: 40%;
  height: 30px;
  border: none;
}

fieldset {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 5px;
  margin-left: 2px;
}

.mvli {
  height: 40px;
  width: 100%;
  display: flex;
}

.sec > ul {
  list-style: none;
  font-size: medium;
}

span {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 8px;
  display: inline-flexbox;
}

span:hover {
  background-color: #49413f;
  transition: background-color 1s ease, color 1s ease;
  color: white;
}

.rank {
  width: 40px;
  display: inline-flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #49413f;
  color: white;
}

.rank:hover {
  background-color: black;
  transition: background-color 1s ease, color 1s ease;
}

.movieNm {
  width: 60%;
}

.openDt {
  width: 20%;
}

.rankInten {
  width: 10%;
}

.spRed {
  color: red;
}

.spBlue {
  color: blue;
}

a {
  text-decoration: none;
}

footer {
  background-color: #49413f;
  color: white;
  padding: 30px;
  font-size: small;
  flex-direction: row;
}
