.sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec > input {
  width: 30%;
  margin: 10px;
  padding: 7px 7px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 13px;
}

.sec > button {
  width: 20%;
  margin: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
